.card {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.name {
    font-size: small;
}

.logo {
    height: 40px;
    width: 40px;
}

.operation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    height: 30px;
    background-color: black;
    color: #F5F5F5;
    border: 2px solid black;
    border-radius: 8px;
    margin: 4px;
}