.card {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: small;
}

.logo {
    height: 40px;
    width: 40px;
}

.operation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}